.container{
    margin-top: 70px;
    /* background-color: rgb(43, 36, 77); */
    /* border-radius: .28571429rem; */
}

/* #background{
    background: url(/assets/image/background.jpg);
    background-size: cover;
} */