.itemPos{
    text-align: center;
    letter-spacing: 5px;
    font-style: italic;
    text-shadow: 1px 1px rgb(234, 237, 242);
}

.ui.vertical.tabular.menu {
    border-top: 1px solid #d4d4d5;
    border-bottom: 1px solid #d4d4d5;
    border-left: 1px solid #d4d4d5;
    border-radius: .28571429rem;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.ui.vertical.tabular.menu .active.item {
    margin: 0 -1px 0 -1px;
    border-radius: .28571429rem !important;
    background-color: grey !important; 
}


.ui.vertical.tabular.menu {
    background: white; 
}

.ui.vertical.tabular.menu .item {
    border-right: 1px solid transparent;

}

.ui.menu {
    font-size: 1.5rem !important;
}
